/*Fonts*/
@font-face {
    font-family: Figtree;
    src: url("static/fonts/Figtree-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Figtree;
    src: url("static/fonts/Figtree-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Figtree;
    src: url("static/fonts/Figtree-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: Figtree;
    src: url("static/fonts/Figtree-LightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: Figtree;
    src: url("static/fonts/Figtree-SemiBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: SofiaSans;
    src: url("static/fonts/SofiaSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

body{
    background-color: #fdfaf4;
    font-family: Figtree;
    min-height: 100vh;
	overflow-x: hidden;
}

.bold-text {
    font-size: inherit;
    font-weight: 600;
    line-height: inherit;
    color: inherit;
}

.italic-text {
    font-family: Figtree;
    font-size: inherit;
    font-weight: 400;
    font-style: italic;
    line-height: inherit;
    color: inherit;
}

.italic-bold-text {
    font-family: Figtree;
    font-size: inherit;
    font-weight: 600;
    font-style: italic;
    line-height: inherit;
    color: inherit;
}

.logo {
    font-family: SofiaSans;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-weight: 300;
    font-size: 1.95rem;
}

.current-page {
    color: #708C69 !important;
    text-decoration: underline !important;
    text-decoration-thickness: 0.15em !important;
    text-underline-offset: 0.25em !important;
    text-decoration-color: #708C69 !important;
}

.unordered-list-generic {
    font-size: inherit;
    font-weight: 300;
    line-height: inherit;
    text-align: justify;
    color: inherit;
}

.ordered-list-generic {
    font-size: inherit;
    font-weight: 300;
    line-height: inherit;
    color: inherit;
}

.project-visit-link {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

.projects-about-heading-container {
    border-top: solid;
    border-top-color: #708C69;
    border-top-width: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.projects-about-heading {
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.language-switch-span {
    margin-top: auto;
    margin-bottom: auto;
}

.language-switch-anchor-pl,
.language-switch-anchor-en {
    color: #000000;
    text-decoration: none;
}

.language-switch-anchor-pl:hover,
.language-switch-anchor-en:hover {
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.05rem;
}

.projects-about-heading-contact {
    font-weight: 300;
    font-size: 1.9rem;
    padding-top: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    border-top: solid;
    border-top-color: #708C69;
    border-top-width: 0.3rem;
}

.projects-heading-lower-container {
    margin-bottom: 1.8rem;
}

.projects-heading-lower-first {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
    margin-top: 1rem;
}

.projects-heading-lower {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
    margin-top: 4rem;
}

.small-info-span {
    font-weight: 300;
    font-size: 0.85rem;
}

.about-me-heading {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}


/*Links*/
a{
    text-decoration:none;
}

.hyperlink {
    color: #056fa3;
}

.hyperlink:hover {
    text-decoration: underline;
    color: #013D5A;
}

.container {
    display: flex;
    flex-direction: column;
}

.width {
    width: 100%;
}

.main-wrapper{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.featured-projects {
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    align-content: center;
    text-align: center;
}

.menu-link-ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    margin-bottom: 2rem;
}

.menu-link-li{
    float: left;
    margin: 1.5rem;
}

.menu-link-a {
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.25s;
    text-decoration-color: #708C69;
}

.menu-link-a:hover {
    color: #708C69;
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.25em;
    text-decoration-color: #708C69;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
}

.project{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

.project-head-div{
    padding: 1rem;
    padding-left: 0;
}

.project-content-text-heading {
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.project-content-text {
    line-height: 150%;
    text-align: justify;
    font-weight: 300;
}

.project-content-text-example-container {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color:#1b74a0;
    border-radius: 14px;
}

.project-content-text-example {
    line-height: 150%;
    text-align: justify;
    font-weight: 300;
    color: #ffffff;
    padding: 2rem;
}

.project-image {
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 3rem;
    border-radius: 1%;
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.project-image-undertext {
    font-weight: 300;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    margin: 0;
}

.project-image-description-div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-image-description {
    max-height: 55rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 3rem;
    border-radius: 1%;
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.project-image-pttk-site {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 3rem;
    border-radius: 1%;
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
}

.project-image-photos {
    max-height: 42rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 3rem;
}

.about-me-div{
    padding: 25px;
}

.about-me-image-div {
    max-width: 20%;
    max-height: 35%;
    float: left;
    padding-right: 35px;
    padding-bottom: 25px;
}

.about-me-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.about-me-paragraph {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
}

.poem-head-div {
    padding-left: 1.5rem;
}

.poem-paragraph {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0;
}

.poem-date {
    font-weight: 300;
    font-size: 0.8rem;
    padding-left: 0;
}

.about-me-h2 {
    font-size: 1.3rem;
    font-weight: 300;
}

.portfolio-footer {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 1.2rem;
}

.contact-container {
    display: flex;
    margin-bottom: 2rem;
}

.contact-icons-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.contact-icon {
    display: flex;
    margin-right: 2rem;
}

.contact-icon:last-of-type {
    display: flex;
    margin-right: 0;
}

.social-media-icon-footer {
    height: 2rem;
    width: 2rem;
}

.author-span-container {
    display: flex;
}

.author-span {
    font-weight: 300;
    font-size: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

@media (width <= 1040px) {

    .project-content-text-example-container {
        margin: 0;
    }

    .project-content-text-example {
        text-align: left;
    }

    .menu-link-a {
        font-size: 1rem;
    }
}

@media (width <= 390px) {
    .logo {
        font-size: 1.6rem;
    }

    .menu-link-li{
        margin-left: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 1.5rem;
    }

    .menu-link-li:last-of-type {
        margin-right: 0;
        margin-left: 0;
    }
}