/*Fonts*/
@font-face {
    font-family: "Poppins";
    src: local("Poppins-Regular") format("truetype"),
         url("static/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Light") format("truetype"),
         url("static/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Bold") format("truetype"),
         url("static/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins-Black") format("truetype"),
         url("static/fonts/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #fffcf5;
    font-family: Poppins;
}

.bold-text {
    font-size: inherit;
    font-weight: 600;
    line-height: inherit;
    color: inherit;
}

.italic-text {
    font-size: inherit;
    font-weight: inherit;
    font-style: italic;
    line-height: inherit;
    color: inherit;
}

.unordered-list-generic {
    font-size: inherit;
    font-weight: 300;
    line-height: inherit;
    color: inherit;
}

.ordered-list-generic {
    font-size: inherit;
    font-weight: 300;
    line-height: inherit;
    color: inherit;
}

.project-visit-link {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

.projects-about-heading-container {
    border-top: solid;
    border-top-color: #708C69;
    border-top-width: 0.3rem;
}

.projects-about-heading {
    font-weight: 300;
    font-size: 1.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.projects-heading-lower-container {
    margin-bottom: 1.8rem;
}

.projects-heading-lower {
    font-weight: 300;
    font-size: 1.7rem;
    margin-bottom: 0.6rem;
}

.small-info-span {
    font-weight: 300;
    font-size: 0.85rem;
    padding-left: 1.7rem;
}

.about-me-heading {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}


/*Links*/
.home{
    color: black;
    text-decoration: none;
    display: block;
    transition: all ease 0.25s;
}

.home:hover {
    color: #708C69;
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 0.25em;
    text-decoration-color: #708C69;
}

a{
    text-decoration:none;
}

a:link{
    text-decoration: none;
}

a:visited {
        text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.hyperlink {
    color: #056fa3;
}

.hyperlink:hover {
    text-decoration: underline;
    color: #013D5A;
}

.container {
    display: flex;
    flex-direction: column;
}

.main-wrapper{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.featured-projects {
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-weight: 300;
    font-size: 1.95rem;
}

.menu {
    align-content: center;
    text-align: center;
}

.menu-link-ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    margin-bottom: 2rem;
}

.menu-link-li{
    float: left;
    margin: 2em;
}

.menu-link-a {
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.25s;
    text-decoration-color: #708C69;
}

.menu-link-a:hover {
    color: #708C69;
    text-decoration: underline;
    text-decoration-thickness: 0.25em;
    text-underline-offset: 0.25em;
    text-decoration-color: #708C69;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
}

.project{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 900px;
    width: 100%;
}

.project-head-div{
    padding: 1rem;
}

.project-content-div {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.project-content-text-heading {
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.project-content-text {
    line-height: 150%;
    text-align: justify;
    font-weight: 300;
}

.project-content-text-example-container {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color:#1b74a0;
    border-radius: 14px;
}

.project-content-text-example {
    line-height: 150%;
    text-align: justify;
    font-weight: 300;
    color: #ffffff;
    padding: 2rem;
}

.project-image {
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 3rem;
    border-radius: 1%;
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.project-image-undertext {
    font-weight: 300;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    margin: 0;
}

.project-image-description-div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-image-description {
    max-height: 55rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 3rem;
    border-radius: 1%;
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.project-image-pttk-site {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 3rem;
    border-radius: 1%;
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.1);
}

.project-image-photos {
    max-height: 35rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 3rem;
}

.about-me-div{
    padding: 25px;
}

.about-me-image-div {
    max-width: 20%;
    max-height: 35%;
    float: left;
    padding-right: 35px;
    padding-bottom: 25px;
}

.about-me-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.about-me-paragraph {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
}

.poem-head-div {
    padding-left: 1.5rem;
}

.projects-heading-lower {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.poem-paragraph {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0;
}

.poem-date {
    font-weight: 300;
    font-size: 0.8rem;
    padding-left: 0;
}

.portfolio-footer {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 1.2rem;
}

.author-span-container {
    margin-left: auto;
    margin-right: auto;
}

.author-span {
    font-weight: 300;
    font-size: 0.75rem;
}